.container {
  min-width: 1000px;
  background-color: blue;
  border-radius: 15px;
  margin: 20 auto;
  text-align: center;
  padding: 30px;
}

.bg-hot {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.75)
    ),
    url("/public/icons/snow-bg.svg");
  background-size: cover;
}
.bg-warm {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.75)
    ),
    url("/public/icons/warm-bg.svg");
  background-size: cover;
}

.bg-cool {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.75)
    ),
    url("/public/icons/cool.svg");
  background-size: cover;
}

.bg-snow {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.75)
    ),
    url("/public/icons/snow-bg.svg");
  background-size: cover;
}
